html {
  height: 75%;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

body {
  background: url("Bg.jpg");
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center ;
  gap: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
}

.signup-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 363px;
  height: 568px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

.signup-form h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  align-items: center;
  padding: 0;
  color: #000;
  text-align: left;
}
.signup-form h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 44px;
  display: flex;
  align-items: center;
  padding: 0;
  color: #000;
  text-align: left;
}
.signup-form .logo {
  width: 364px;
  height: 163px;
}

.signup-form .password-box {
  position: relative;
  margin: auto;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.signup-form .password-box input {
  width: 290px;
  height: 40px;
  padding-right: -10px;
  padding: 5px 0;
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: normal;
  color: #000;
  border: 1px solid #7282A3;
  border-radius: 10px;
  outline: none;
  padding: 0 0 0 10px;
  outline: 0;
  margin: 0;
}

.signup-form .password-box label {
  text-align: left;
  margin-right: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

.signup-form .confirm-password-box {
  position: relative;
  margin: auto;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.signup-form .confirm-password-box input {
  width: 290px;
  height: 40px;
  padding-right: -10px;
  padding: 5px 0;
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: normal;
  color: #000;
  border: 1px solid #7282A3;
  border-radius: 10px;
  outline: none;
  padding: 0 0 0 10px;
  outline: 0;
  margin: 0;
}

.signup-form .confirm-password-box label {
  font-style: normal;
  font-weight: bolder;
  font-size: 14px;
}

.signup-form .submit input {
  width: 300px;
  height: 40px;
  border-radius: 30px;
  font-size: 18px;
  border: none;
  color: white;
  background-color: #7282A3;
}